In [1]:
# Problem 1: Unique Words in a Sentence

# Taking input
sentence = "python is easy and python is powerful"

# Convert to lowercase to avoid case mismatch
sentence = sentence.lower()

# Split sentence into words
words = sentence.split()

# Convert list to set to remove duplicates
unique_words = set(words)

# Display results
print("Unique words count:", len(unique_words))
print("Unique words:", unique_words)

Unique words count: 5
Unique words: {'and', 'powerful', 'python', 'is', 'easy'}

In [2]:
# Problem 2: Highest Salary

employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}

# Find employee with highest salary
highest_employee = max(employees, key=employees.get)

print("Highest Salary:", highest_employee, "-", employees[highest_employee])

Highest Salary: Ravi - 75000

In [3]:
# Problem 3: Max and Min from list

numbers = [45, 22, 89, 10, 66]

# Initialize max and min
max_value = numbers[0]
min_value = numbers[0]

# Loop to compare
for num in numbers:
    if num > max_value:
        max_value = num
    if num < min_value:
        min_value = num

print("List:", numbers)
print("Max:", max_value)
print("Min:", min_value)

List: [45, 22, 89, 10, 66]
Max: 89
Min: 10

In [4]:
# Problem 4: Count products above 1000

prices = [450, 1200, 899, 1500, 300]

count = 0

for price in prices:
    if price > 1000:
        count += 1

print("Products above 1000:", count)

Products above 1000: 2

In [5]:
# Problem 5: Attendance Percentage

attendance = ["P", "P", "A", "P", "P"]

present_count = attendance.count("P")
total_days = len(attendance)

percentage = (present_count / total_days) * 100

print("Attendance Percentage:", percentage)

Attendance Percentage: 80.0

In [6]:
# Problem 6: Remove duplicate phone numbers

phone_numbers = [9876543210, 9123456789, 9876543210]

unique_numbers = set(phone_numbers)

print("Unique phone numbers:", unique_numbers)

Unique phone numbers: {9876543210, 9123456789}

In [7]:
# Problem 7: Character Frequency

text = "python"

frequency = {}

for char in text:
    if char in frequency:
        frequency[char] += 1
    else:
        frequency[char] = 1

print(frequency)

{'p': 1, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 1}

In [8]:
# Problem 8: List to Tuple

my_list = [10, 20, 30]

my_tuple = tuple(my_list)

print("Tuple:", my_tuple)

Tuple: (10, 20, 30)

In [9]:
# Problem 9: Check key existence

employees = {"Ravi": 75000, "Anita": 68000}

if "Ravi" in employees:
    print("Employee exists")
else:
    print("Employee does not exist")

Employee exists

In [10]:
# Problem 10: Average Marks

marks = [70, 80, 65, 75]

total = sum(marks)
average = total / len(marks)

print("Average Marks:", average)

Average Marks: 72.5